@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #000000;
  --color-bg: #ffffff;
}

@layer theme {
  .dark {
    --color-primary: #ebdbd8;
    --color-bg: #282828;
  }
}

body {
  font-family: Alice;
}
