---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="About | acbuie">
  <div class="w-full">
    <h1>Curriculum Vitae</h1>
    <p>Here is more text.</p>
  </div>
</BaseLayout>
