---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="acbuie">
  <div
    class="w-full h-[calc(100vh-64px)] flex flex-col justify-center items-center gap-6"
  >
    <div>
      <h1 class="text-foreground text-5xl md:text-9xl">aidan buie</h1>
      <div class="text-muted-foreground md:text-xl text-right">
        <h2>phd student</h2>
        <h2>planetary scientist</h2>
        <h2>artist</h2>
        <h2>educator</h2>
      </div>
    </div>
  </div>
</BaseLayout>
