---
import Page from "../layouts/Page.astro";
---

<Page pageTitle="Portfolio" , bannerTitle="Portfolio">
  <ul>
    <li><a href="./cartography/">Cartography</a></li>
    <li><a href="./courses/">Courses</a></li>
    <li><a href="./photography/">Photography</a></li>
    <li><a href="./projects/">Projects</a></li>
  </ul>
</Page>
