---
interface Props {
  bannerTitle: string;
}

const { bannerTitle } = Astro.props;
---

<div class="flex items-center">
  <h1 class="flex-none text-2xl md:text-4xl">{bannerTitle}</h1>
  <span class="flex grow ml-5 bg-bg-accent h-0.5"></span>
</div>
