---
const { bannerTitle } = Astro.props;
---

<div class="flex items-center pb-5 bg-background">
  <h1 class="flex-none text-4xl">{bannerTitle}</h1>
  <div class="flex grow ml-5 bg-accent-foreground h-0.5"></div>
</div>
