---
import "../../styles/global.css";

import DesktopNavigation from "./Nav/DesktopNav.astro";
---

<header
  class="top-0 flex flex-col text-lg md:text-2xl font-bold px-5 md:px-10 xl:px-50"
>
  <nav class="h-22 flex items-center justify-between">
    <div class="relative flex justify-center p-1.5">
      <span
        class="absolute -inset-1 block -skew-y-3 -skew-x-3 bg-gruv-aqua"
        aria-hidden="true"></span>
      <a href="/" class="relative text-bg hidden md:block">aidan buie</a>
      <a href="/" class="relative text-bg md:hidden">ab</a>
    </div>
    <div>
      <DesktopNavigation />
    </div>
  </nav>
</header>
