---
import "../../styles/global.css";

import DesktopNavigation from "./Nav/DesktopNav.astro";
// import { MobileNavigation } from "./Nav/MobileNav.tsx";
import Toggle from "./Toggle.astro";
import BannerTitle from "./BannerTitle.astro";

const { bannerTitle } = Astro.props;
---

<nav class="bg-bg w-full sticky top-0 flex flex-col">
  <div class="px-5 md:px-5 xl:px-50">
    <div class="h-16 flex items-center justify-between">
      <a href="/">aidan buie</a>
      <div class="hidden md:flex md:gap-3">
        <DesktopNavigation />
        <Toggle />
      </div>
      <!-- <div class="flex md:hidden"> -->
      <!--   <MobileNavigation client:load /> -->
      <!-- </div> -->
    </div>
    {bannerTitle && <BannerTitle bannerTitle={bannerTitle} />}
  </div>
</nav>
