<footer class="absolute bottom-0 mb-5 w-screen h-20 flex justify-center">
  <div class="flex flex-col text-center gap-y-2.5">
    <ul class="flex flex-row gap-x-10">
      <li>
        <a href="https://github.com/acbuie">
          <i class="fa-brands fa-github pr-6"></i>GitHub
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/aidanbuie/">
          <i class="fa-brands fa-linkedin pr-6"></i>LinkedIn
        </a>
      </li>
      <li>
        <a>
          <i class="fa-solid fa-graduation-cap pr-6"></i>CV
        </a>
      </li>
    </ul>
    <p class="text-sm">© 2025-{new Date().getFullYear()} Aidan Buie</p>
  </div>
</footer>
