<footer class="absolute bottom-0 mb-10 w-screen h-20 flex justify-center">
  <div class="flex flex-col text-center gap-y-2.5 text-base md:text-lg">
    <ul class="flex flex-row gap-x-10">
      <li>GitHub</li>
      <li>LinkedIn</li>
      <li>Scholar</li>
    </ul>
    <p>© 2025-{new Date().getFullYear()} Aidan Buie</p>
  </div>
</footer>
