---
import Toggle from "../Toggle.astro";
---

<ul class="flex gap-x-10">
  <li class="text-gruv-blue"><a href="/blog/">Musings</a></li>
  <li class="text-gruv-red"><a href="/portfolio/">Portfolio</a></li>
  <li class="text-gruv-orange"><a href="/about/">About</a></li>
  <li><Toggle /></li>
</ul>
