---
import type { CollectionEntry } from "astro:content";

type Props = {
  post: CollectionEntry<"blogPosts">;
};

const { post } = Astro.props;
const { title, description, pubDate, tags } = post.data;
---

<div>
  {title}
  <div>
    <time datetime={pubDate.toISOString()}>
      {
        pubDate.toLocaleDateString(undefined, {
          dateStyle: "medium",
          timeZone: "UTC",
        })
      }
    </time>
  </div>
</div>
