---
import BaseHead from "@/layouts/BaseHead.astro";
import Header from "@/components/Header/Header.astro";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead pageTitle={pageTitle} />
  </head>
  <body
    class="text-primary bg-bg subpixel-antialiased selection:bg-gruv-aqua selection:text-primary w-screen overflow-x-hidden"
  >
    <Header />
    <main class="px-5 md:px-10 xl:px-50">
      <slot />
    </main>
  </body>
</html>
