---
import BaseHead from "@/layouts/BaseHead.astro";
import Header from "@/components/Header/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en" class="relative min-h-[100%]">
  <head>
    <BaseHead pageTitle={pageTitle} />
  </head>
  <body
    class="text-primary bg-bg subpixel-antialiased selection:bg-gruv-aqua selection:text-primary w-screen min-h-screen overflow-x-hidden flex flex-col"
  >
    <Header />
    <main
      class="px-5 md:px-10 lg:px-25 xl:px-50 mb-40 grow has-[div#hero]:flex has-[div#hero]:justify-center"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
