---
import Page from "./Page.astro";

const { frontmatter } = Astro.props;
---

<Page pageTitle={frontmatter.title}>
  <div class="flex justify-center">
    <article class="prose prose-main md:prose-lg">
      <h1 class="text-balance">{frontmatter.title}</h1>
      <slot />
    </article>
  </div>
</Page>
