---
import Page from "./Page.astro";

const { frontmatter } = Astro.props;
---

<Page pageTitle={frontmatter.title}>
  <div class="flex justify-center">
    <div class="prose prose-main md:prose-lg">
      <h1>{frontmatter.title}</h1>
      <slot />
    </div>
  </div>
</Page>
