---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="flex justify-center">
    <div class="prose sm:prose-lg prose-main mb-50">
      <h1>{frontmatter.title}</h1>
      <slot />
    </div>
  </div>
</BaseLayout>
